@font-face {
  font-family: "latoblack";
  src: url("../../public/assets/fonts/lato-black-webfont.woff2") format("woff2"),
    url("../../public/assets/fonts/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latoregular";
  src: url("../../public/assets/fonts/lato-regular-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latolight";
  src: url("../../public/assets/fonts/lato-light-webfont.woff2") format("woff2"),
    url("../../public/assets/fonts/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latothin";
  src: url("../../public/assets/fonts/lato-thin-webfont.woff2") format("woff2"),
    url("../../public/assets/fonts/lato-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1d847b;
  --ion-color-primary-rgb: 29, 132, 123;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1a746c;
  --ion-color-primary-tint: #349088;

  /** secondary **/
  --ion-color-secondary: #d3d3d3;
  --ion-color-secondary-rgb: 211, 211, 211;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #bababa;
  --ion-color-secondary-tint: #d7d7d7;

  /** tertiary **/
  --ion-color-tertiary: #7575f8;
  --ion-color-tertiary-rgb: 93, 125, 183;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #526ea1;
  --ion-color-tertiary-tint: #6d8abe;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #e74c3c;
  --ion-color-danger-rgb: 231, 76, 60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cb4335;
  --ion-color-danger-tint: #e95e50;

  /** dark **/
  --ion-color-dark: #111111;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #d3d3d3;
  --ion-color-light-rgb: 211, 211, 211;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #bababa;
  --ion-color-light-tint: #d7d7d7;

  --font-family-regular: "latoregular";
  --font-family-light: "latolight";
  --font-family-thin: "latothin";
  --font-family-bold: "latoblack";
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.svgIcon path,
.svgIcon {
  color: white;
  fill: white;
  stroke: white;
}

.svgIcon {
  width: 20px;
}

.header-actions {
  justify-content: space-between;
  padding: 0 1rem;
}

.header-actions-cart {
  align-items: center;
  border-radius: 90px;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: relative;
  width: 3rem;
}

.header-actions-cart.disabled {
  pointer-events: none;
}

.header-actions-cart span {
  background: var(--ion-color-danger);
  border-radius: 90px;
  color: var(--ion-color-light-contrast);
  font-family: var(--font-family-bold);
  font-size: 0.6rem;
  min-width: 1rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  right: 1.6rem;
  top: 0.4rem;
}

html.ios,
html.md {
  --ion-default-font: var(--font-family-regular);
}

.sc-ion-input-ios-h,
.native-input.sc-ion-input-md,
.md.in-item,
.md.button {
  font-family: var(--font-family-bold);
  font-size: 0.8rem;
  --padding-bottom: 4px;
  --padding-top: 4px;
}

.list-md {
  padding-bottom: 0;
  padding-top: 0;
}

.component-size .alert-radio-label.sc-ion-alert-md {
  font-size: 12px;
  white-space: inherit;
}

.sc-ion-label-md-h.sc-ion-label-md-s.md.label-floating,
.item-label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.sc-ion-label-md-h.sc-ion-label-md-s.md {
  font-size: 0.88rem;
}

.item-interactive.item-has-focus
  .sc-ion-label-md-h.sc-ion-label-md-s.md.label-floating {
  color: var(--ion-color-dark);
}

.item,
.item-has-focus {
  --border-color: rgba(0, 0, 0, 0.1);
  --padding-start: 0;
}

.item-interactive.item-select {
  will-change: contents;
}

.item-interactive.item-select {
  animation: slidein ease-in-out 0.6s forwards;
}

.item {
  margin-bottom: 1rem;
}

.md.in-item.interactive {
  --background-checked: var(--ion-color-secondary-contrast);
  --checkmark-color: var(--ion-color-primary);
  --border-color-checked: var(--ion-color-secondary-contrast);
}

ion-checkbox[aria-checked="false"] {
  --background: transparent;
  --border-color: rgba(255, 255, 255, 0.4);
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  --color: var(--ion-color-dark);
}

.native-input.sc-ion-input-md,
.item-select,
.item-has-focus {
  color: var(--ion-color-dark);
}

.list-md,
.list-ios,
.item-input,
.item-select,
.item-checkbox-checked,
.item-label {
  background: transparent;
  --background: transparent;
}

.md body {
  --ion-background-color: #f4f4f4;
}

.backdrop {
  background: rgba(0, 0, 0, 0);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

ion-header {
  padding-top: 0.5rem;
}

ion-header.home-header ion-toolbar:first-child {
  border-bottom: 1px dashed var(--ion-color-light);
}

ion-header ion-toolbar:last-child {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

ion-title {
  font-family: var(--font-family-bold);
  font-size: 0.9rem;
  text-align: center;
}

ion-footer {
  padding: 0 0 2rem 0;
}

ion-button {
  font-size: 0.9rem;
  height: 50px;
  --box-shadow: none;
}

h2 {
  font-size: 1rem;
  font-family: var(--font-family-light);
  margin: 1rem 0;
}

.button-add,
.button-save,
.button-remove {
  animation: slidedown ease-in-out 0.8s forwards;
}

.button-remove {
  color: var(--ion-color-dark);
  border: 1px solid var(--ion-color-dark);
  border-radius: 90px;
  --background: transparent;
}

.button-add strong {
  margin-left: 0.5rem;
  position: relative;
}

.button-add strong:before {
  content: "";
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background: url("../../public/assets/icon/plus.svg") no-repeat center center;
  background-size: 22px;
  vertical-align: middle;
  position: absolute;
  left: -2rem;
  top: -0.5rem;
  z-index: 1;
}
